<p> Name: <%= @event.name %> </p>

<p> Outcomes:
  <ul>
    <% @event.outcomes.each do |outcome| %>
      <li> <%= outcome.name %> </li>
      <li> <%= outcome.share_price %> </li>
    <% end %>
  </ul>
</p>

