<h1> <%= @event.name %> </h1>

<p> <%= @event.description %> </p>

<h3> Possible Outcomes </h3>

<ul class="list-unstyled">
  <% @event.outcomes.each do |outcome| %>
    <li> <%= outcome.name %> (<%= outcome.share_price.to_i %>%) </li>
  <% end %>
</ul>

